.switch__label {
  margin: 0;
  margin-right: 20px;
  padding: 0;
  display: inline-block;
  height: 28px;
  position: relative;
  width: 56px;
}

.switch__label input {
  display:none;
}


.switch__slider {
  background-color: #fff;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.5);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.switch__slider:hover {
  border: 2px solid rgba(0, 0, 0);
}

.switch__slider .switch__text {
  margin: 0;
  padding: 0;
  width: 28px;
  text-align: center;
  font-weight: 700;
  mix-blend-mode: difference;
  transition: .4s;
  color: rgba(255,255,255,0.5);
}

.switch__slider:hover .switch__text {
  color: #fff;
}

.switch__slider .switch__text-active {
  color: #fff;
}

.switch__slider:before {
  background-color: #000;
  bottom: -2px;
  content: "";
  color: #fff;
  height: 28px;
  left: -2px;
  position: absolute;
  transition: .4s;
  width: 26px;
  display:flex;
  align-items: center;
  justify-content: center;
}

input:checked + .switch__slider:before {
  transform: translateX(30px);
}

.switch__slider.round {
  border-radius: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch__slider:hover:before {
  transform: translateX(2px);
}

input:checked + .slider:hover::before {
  transform: translateX(28px);
}

.switch__slider.round:before {
  border-radius: 50%;
}