.main__text {
    padding: 40px 0 34px 0;
    margin: 0;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
}

.main__cardlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    grid-auto-rows: 328px;
    gap: 20px;
    width: 100%;
}

@media screen and (max-width: 410px) {

    .main__cardlist {
        grid-template-columns: 1fr;
        
    }

}